.container {
  border-top: 1px solid var(--color-border-light);
}

.open {
  padding-left: 10px;
  border-left: 6px solid var(--color-secondary-light);
  background-color: var(--color-secondary-background) !important;
}

.safe:hover {
  background-color: var(--color-secondary-background);
}
