.container:first-of-type {
  border-top: 1px solid var(--color-border-light);
}

.open {
  padding-left: 18px!important;
  border-left: 6px solid var(--color-secondary-light);
  background-color: #282828!important;
}

.safe {
  padding-left: 24px;
}

.safe:hover {
  background-color: #282828;
}
